[Unit]
Description=Doorbell rpi service
After=multi-user.target

[Service]
Type=idle
User=etitas
ExecStart=/home/etitas/gits/DoorbellControl/scripts/google_calendar_sync.sh
Restart=always

[Install]
WantedBy=multi-user.target